<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sagar.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intent.setting.login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.employee.Create_employee_activity" />
        <activity android:name=".intent.product.Product_activity" />
        <activity android:name=".intent.employee.About_employee_activity" />
        <activity android:name=".intent.transaction.Transaction_activity" />
        <activity android:name=".intent.about_store.About_store_activity" />
        <activity android:name=".intent.employee.MainActivity" />
        <activity android:name=".intent.setting.Setting_activity" />
        <activity android:name=".intent.Setting" />
        <activity android:name=".intent.dashboard.DashBoard_activity" />
        <activity android:name=".intent.product.About_product_activity" />
        <activity android:name=".intent.product.Activity_create_product" />
        <activity android:name=".intent.stock.Activity_about_stock" />
        <activity android:name=".intent.work_profile.About_work_profile_activity" />
        <activity android:name=".intent.stock.Manage_stock_activity" />
        <activity android:name=".intent.stock.Acitivity_create_new_stock" />
        <activity android:name=".intent.brand.Brand_products_details" />
        <activity android:name=".intent.work_profile.Create_work_profle" />
        <activity android:name=".intent.right.Create_new_right" />
        <activity android:name=".intent.product_category.Create_new_product_category" />
        <activity android:name=".intent.product_category.Product_by_category" />
        <activity android:name=".intent.product_category.Product_category_details" />
        <activity android:name=".intent.employee.Activity_create_new_retailer" />
        <activity android:name=".intent.employee.About_retailer" />
        <activity android:name=".intent.employee.Product_associated_with_retailer"></activity>
    </application>

</manifest>